<div class="row">
    <div class="col-md-3">
        <button ng-click="FileSvc.showCreate()" class="btn btn-info" type="button" id="fileCreate">
            Add file
        </button>
    </div>
    <div class="col-md-9">
        <div class="input-group">
            <input type="text" class="form-control search-query"
                   ng-model="FileSvc.searchText"
                   ng-enter="FileSvc.doSearch(FileSvc.searchText)" required/>
                                        <span class="input-group-btn">
                                            <button ng-click="FileSvc.doSearch(FileSvc.searchText)"
                                                    class="btn btn-primary"
                                                    type="button" id="fileSearch">
                                                Search
                                            </button>
                                        </span>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Url</th>
        <th>Comment</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in FileSvc.list" ng-click="FileSvc.selectItem(item)"
        ng-class="(FileSvc.item.id==item.id)?'info':''">
        <td ng-bind-html="item.id"></td>
        <td ng-bind-html="item.src | unsafe"></td>
        <td ng-bind-html="item.comment | unsafe"></td>
        <td class="text-right">
            <button ng-click="FileSvc.showUpdate(item)" class="btn btn-info" type="button" id="{{'file'+item.id+'Update'}}">Edit</button>
            <button ng-click="FileSvc.doDelete(item)" class="btn btn-danger" type="button" id="{{'file'+item.id+'Delete'}}">Delete</button>
        </td>
    </tr>
    </tbody>
</table>