<div class="row">
    <div class="col-md-3">
        <button ng-click="FileSvc.showCreate()" class="btn btn-cta-default" type="button" id="fileCreate">
            <i class="fa fa-plus"></i> Add file
        </button>
    </div>
    <div class="col-md-9">
        <div class="input-group">
            <input type="text" class="form-control search-query"
                   ng-model="FileSvc.searchText"
                   ng-enter="FileSvc.doSearch(FileSvc.searchText)" required/>
                                        <span class="input-group-btn">
                                            <button ng-click="FileSvc.doSearch(FileSvc.searchText)"
                                                    class="btn btn-cta-secondary"
                                                    type="button" id="fileSearch">
                                                Search
                                            </button>
                                        </span>
        </div>
    </div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Url</th>
        <th>Comment</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in FileSvc.list"
        ng-class="(FileSvc.item.id==item.id)?'bold':''">
        <td ng-bind-html="item.id" ng-click="FileSvc.selectItem(item)"></td>
        <td ng-bind-html="item.src | unsafe" ng-click="FileSvc.selectItem(item)"></td>
        <td ng-bind-html="item.comment | unsafe" ng-click="FileSvc.selectItem(item)"></td>
        <td class="text-right">
            <button ng-click="FileSvc.showUpdate(item)" class="btn btn-cta-default btn-xs" type="button"
                    id="{{'file'+item.id+'Update'}}"><i class="fa fa-pencil-square-o"></i> Edit
            </button>
            <button ng-click="FileSvc.doDelete(item)" class="btn btn-cta-red btn-xs" type="button"
                    id="{{'file'+item.id+'Delete'}}"><i class="fa fa-trash"></i> Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>