<div class="form-group has-feedback" show-errors>
    <label for="ItemTitle">Title</label>
    <input type="text" class="form-control" id="ItemTitle" name="ItemTitle" ng-model="PostSvc.item.title"
           ng-change="PostSvc.slugName(PostSvc.item.title)" required>
    <span ng-show="postForm.$submitted || postForm.ItemTitle.$touched" class="form-control-feedback"
          ng-class="!postForm.ItemTitle.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
          aria-hidden="true"></span>
</div>
<div class="form-group has-feedback" ng-if="PostSvc.item.type==1">
    <label for="ItemText">Text</label>
                <textarea type="text" class="form-control" id="ItemText"
                          ng-model="PostSvc.item.text" rows="15"></textarea>
</div>
<div class="form-group has-feedback" ng-if="PostSvc.item.type==2">
    <label for="ItemHtml">Html</label>
                <textarea type="text" class="form-control" id="ItemHtml"
                          ng-model="PostSvc.item.html" rows="15"></textarea>
</div>
<div class="form-group has-feedback" ng-if="PostSvc.item.type==3">
    <label for="ItemUrl">Url</label>
                <textarea type="text" class="form-control" id="ItemUrl"
                          ng-model="PostSvc.item.url" rows="15"></textarea>
</div>
<div class="form-group has-feedback" ng-if="PostSvc.item.type==4">
    <label for="ItemMarkdown">Markdown</label>
                <textarea type="text" class="form-control" id="ItemMarkdown"
                          ng-model="PostSvc.item.markdown" rows="15"></textarea>
</div>
<div class="form-group" ng-repeat="image in PostSvc.item.images track by image.id">
    <label for="{{'ItemImage'+($index+1)}}" ng-bind-html="'Image '+($index+1) | unsafe"></label>
    <div class="input-group has-feedback">
        <input type="text" class="form-control" id="{{'ItemImage'+($index+1)}}"
               ng-model="image.src">
                        <span class="input-group-btn">
                            <button ng-click="FileSvc.showList(image)" class="btn btn-cta-default"
                                    type="button" id="{{'postSelect'+$index+'Image'}}">
                                <i class="fa fa-check"></i> Select
                            </button>
                            <button ng-click="PostSvc.doDeleteImage($index)" class="btn btn-cta-red"
                                    type="button" id="{{'postDelete'+$index+'Image'}}">
                                <i class="fa fa-trash"></i> Delete image
                            </button>
                        </span>
    </div>
</div>