<span ng-bind="ManagerSvc.title"></span>
<div class="pull-right">
    <button ng-click="HtmlCacheSvc.doDeleteChecked()" class="btn btn-cta-red btn-xs"
            type="button" id="doDeleteChecked" ng-disabled="HtmlCacheSvc.scanSitemap.disabled" ng-if="HtmlCacheSvc.checkeds.length>0">
        <i class="fa fa-trash"></i> <translate>Delete checked</translate>
    </button>
    <button ng-click="HtmlCacheSvc.scanSitemap.do()" class="btn btn-cta-secondary btn-xs"
            type="button" id="html_cacheScanSitemap" ng-disabled="HtmlCacheSvc.scanSitemap.disabled" >
        <i class="fa fa-globe"></i> <span ng-bind="HtmlCacheSvc.scanSitemap.title"></span>
    </button>
</div>