aside.tags {
    .content {
        word-wrap: break-word;
    }
}

.header{
    .btn{
        margin-right: 10px;
    }
}

.bold{
    font-weight: 700;
}

.profile-image{
    height: 180px;
}

.cursor-pointer{
    cursor: pointer;
}

.break-word{
    word-break: break-word;
}