<span ng-bind="ManagerSvc.title"></span>
<div class="pull-right">
    <button ng-click="PropertiesSvc.applyOnSite.do()" class="btn btn-cta-primary btn-xs"
            type="button" id="PropertiesApply" ng-disabled="PropertiesSvc.applyOnSite.disabled" >
        <i class="fa fa-check"></i> <span ng-bind="PropertiesSvc.applyOnSite.title"></span>
    </button>
    <button ng-click="PropertiesSvc.showCreate()" class="btn btn-cta-secondary btn-xs"
            type="button" id="propertiesCreate">
        <i class="fa fa-plus"></i> <translate>Create</translate>
    </button>
</div>