<div ng-if="PostSvc.item.images.length>0">
    <div class="desc col-md-12 col-sm-12 col-xs-12">
        <div ng-if="PostSvc.item.images.length==1">
            <img ng-src="{{PostSvc.item.images[0].src_url}}"
                 class="img-responsive"/>
        </div>
        <div ng-if="PostSvc.item.images.length>1">
            <div data-nq-carousel="">
                <div data-carousel-item="" ng-repeat="image in PostSvc.item.images">
                    <!--h3 class="carousel-title" nf-if="image.title!=''"
                        ng-bind-html="image.title | unsafe"></h3-->
                    <img ng-src="{{image.src_url}}">
                    <div class="carousel-caption" nf-if="image.description!=''">
                        <h4 ng-bind-html="image.description | unsafe"></h4>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider"/>
    </div>
</div>
<div class="desc col-md-12 col-sm-12 col-xs-12">
    <div ng-if="PostSvc.item.type==1 && PostSvc.item.text">
        <p ng-bind-html="PostSvc.item.text | unsafe"></p>
    </div>
    <div ng-if="PostSvc.item.type==2 && PostSvc.item.html">
        <p ng-bind-html="PostSvc.item.html | unsafe"></p>
    </div>
    <div ng-if="PostSvc.item.type==3 && PostSvc.item.url">
        <p ng-bind-html="PostSvc.item.url | unsafe"></p>
    </div>
    <div ng-if="PostSvc.item.type==4 && PostSvc.item.markdown">
        <p markdown-to-html="PostSvc.item.markdown">
        </p>
    </div>
</div><!--//desc-->