<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading">
                        <span ng-bind-html="PostSvc.item.title | unsafe"></span>
                        <a ng-href="{{'/post/update/'+PostSvc.item.name}}"
                           class="btn btn-cta-secondary pull-right btn-xs" ng-if="AccountSvc.isAdmin()" id="postUpdate"><i class="fa fa-pencil-square-o"></i> Edit</a>
                    </h1>
                    <div class="content">
                        <div class="item row">
                            <div ng-include="'views/post/item-content.html'"></div>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="list description aside section">
                <div class="section-inner">
                    <h2 class="heading">Description</h2>
                    <div class="content">
                        <span ng-bind-html="PostSvc.item.description | unsafe"></span>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="list tags aside section">
                <div class="section-inner">
                    <h2 class="heading">Tags</h2>
                    <div class="content">
                        <div ng-include="'views/post/item-tags.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Search</h2>
                    <div class="content">
                        <div ng-include="'views/search.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->