<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading" ng-include="'views/post/list-header.html'">
                    </h1>
                    <div class="content">
                        <div class="item row"
                             ng-repeat="item in PostSvc.list | limitTo:PostSvc.limit:PostSvc.begin">
                            <div ng-include="'views/post/list-item.html'"></div>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <div ng-include="'views/post/sidebar.html'"></div>
        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->