<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title"><h4 class="modal-title" ng-bind="title | translate"></h4></div>
            <div class="modal-body" ng-bind="content"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cta-secondary" ng-click="$hide()">{{closeText | translate}}</button>
            </div>
            <button type="button" class="close" ng-click="$hide()" ng-bind-html="closeIcon">&nbsp;</button>
        </div>
    </div>
</div>