<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h2 class="heading">
                        <span ng-bind-html="AppConst.project.strings.title | unsafe"></span>
                        <a ng-href="#/project/create"
                           class="btn btn-cta-primary pull-right btn-xs" ng-if="AccountSvc.isAdmin()" id="projectCreate">Create</a>
                    </h2>
                    <div class="content">
                        <div class="item row" ng-repeat="item in ProjectSvc.list | limitTo:ProjectSvc.limit:ProjectSvc.begin">
                            <div ng-include="'views/project/list-item.html'"></div>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Search</h2>
                    <div class="content">
                        <div ng-include="'views/search.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="list tags aside section">
                <div class="section-inner">
                    <h2 class="heading">Tags</h2>
                    <div class="content">
                        <div ng-include="'views/project/list-tags.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->