<a class="col-md-4 col-sm-4 col-xs-12" ng-href="{{'#/project/'+item.name}}" ng-if="item.images.length>0">
    <img class="img-responsive project-image" ng-src="{{AppConfig.static_url+item.images[0].srcStatic}}"
         ng-if="item.images.length>0"
         alt="{{item.title}}"/>
</a>
<div class="desc col-md-8 col-sm-8 col-xs-12" ng-if="item.images.length>0">
    <h3 class="title">
        <a ng-href="{{'#/project/'+item.name}}" ng-bind-html="item.title | unsafe"></a>
    </h3>
    <p ng-bind-html="item.description | unsafe"></p>
    <p>
        <a class="more-link" ng-href="{{'#/project/'+item.name}}" id="{{'project'+$index+'Detail'}}"><i
                class="fa fa-link"></i> Detail...</a>
        <a ng-href="{{'#/project/update/'+item.name}}"
           class="btn btn-cta-secondary btn-xs" ng-if="AccountSvc.isAdmin()"
           id="{{'project'+$index+'Update'}}"><i class="fa fa-pencil-square-o"></i> Edit</a>
    </p>
</div><!--//desc-->
<div class="desc col-md-12 col-sm-12 col-xs-12" ng-if="item.images.length==0">
    <h3 class="title">
        <a ng-href="{{'#/project/'+item.name}}" ng-bind-html="item.title | unsafe"></a>
    </h3>
    <p ng-bind-html="item.description | unsafe"></p>
    <p>
        <a class="more-link" ng-href="{{'#/project/'+item.name}}" id="{{'project'+$index+'Detail'}}"><i
                class="fa fa-link"></i> Detail...</a>
        <a ng-href="{{'#/project/update/'+item.name}}"
           class="btn btn-cta-secondary btn-xs" ng-if="AccountSvc.isAdmin()"
           id="{{'project'+$index+'Update'}}"><i class="fa fa-pencil-square-o"></i> Edit</a>
    </p>
</div><!--//desc-->
<div class="desc col-md-12 col-sm-12 col-xs-12">
    <hr class="divider" ng-if="!$last"/>
</div><!--//desc-->