<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" ng-controller="UserAppCtrl">
            <form name="user_appForm">
                <div class="modal-header" ng-show="title"><h4 class="modal-title" ng-bind="title | translate"></h4></div>
                <div class="modal-body">
                    <div class="modal-body-inner">
                        <div ng-include="'views/account/user_app/inputs.html'"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cta-default" ng-click="$cancel()" id="user_appCreateCancel">
                        <i class="fa fa-undo"></i> {{cancelText | translate}}
                    </button>
                    <button type="button" class="btn btn-cta-secondary" ng-click="$confirm()"
                            ng-disabled="!user_appForm.$valid" id="user_appCreateConfirm">
                        <i class="fa fa-check"></i> {{confirmText | translate}}
                    </button>
                </div>
                <button type="button" class="close" ng-click="$cancel()" ng-bind-html="closeIcon">
                    <i class="fa fa-times"></i>
                </button>
            </form>
        </div>
    </div>
</div>