<ul class="list-unstyled">
    <li ng-if="$routeParams.subNavId!='profile' && AccountSvc.isLogged()">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppLang.getUrlPrefix()+'/account/profile'}}" ng-bind="AppConst.account.profile.title |  translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='user_app' && AccountSvc.isLogged()">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppLang.getUrlPrefix()+'/account/user_app'}}" ng-bind="AppConst.account.user_app.title |  translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='login' && !AccountSvc.isLogged()">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppLang.getUrlPrefix()+'/account/login'}}" ng-bind="AppConst.account.login.title |  translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='reg' && !AccountSvc.isLogged()">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppLang.getUrlPrefix()+'/account/reg'}}" ng-bind="AppConst.account.reg.title | translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='recovery' && !AccountSvc.isLogged()">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppLang.getUrlPrefix()+'/account/recovery'}}" ng-bind="AppConst.account.recovery.title | translate"></a></li>
</ul>