<div ng-include="'views/not-access.html'" ng-if="!AccountSvc.isLogged()"></div>
<div class="container sections-wrapper" ng-if="AccountSvc.isLogged()">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading" ng-bind="AccountSvc.title">
                    </h1>
                    <div class="content">
                        <form name="accountForm">
                            <div ng-include="'views/account/profile/inputs.html'"></div>
                            <button ng-click="ProfileSvc.doUpdate(ProfileSvc.item)" class="btn btn-cta-secondary"
                                    ng-disabled="!accountForm.$valid" id="accountSave">
                                <i class="fa fa-floppy-o"></i> <translate>Save</translate>
                            </button>
                            <button ng-click="ProfileSvc.doDelete()" class="btn btn-cta-red" id="accountDelete"><i
                                    class="fa fa-trash"></i> <translate>Delete account</translate>
                            </button>
                        </form>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <div ng-include="'views/account/sidebar.html'" ng-controller="AccountSidebarCtrl"></div>
        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->