<div ng-include="'views/not-access.html'" ng-if="AccountSvc.isLogged()"></div>
<div class="container sections-wrapper" ng-if="!AccountSvc.isLogged()">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading" ng-bind="AccountSvc.title">
                    </h1>
                    <div class="content">
                        <p>Please enter you email address used on registration</p>
                        <form ng-submit="AccountSvc.doRecovery()" name="accountForm">
                            <div ng-include="'views/account/recovery/inputs.html'"></div>
                            <button type="submit" class="btn btn btn-cta-secondary" ng-disabled="!accountForm.$valid"
                                    id="accountRecovery"><i class="fa fa-envelope-o"></i> Sent link to reset password
                            </button>
                        </form>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <div ng-include="'views/account/sidebar.html'" ng-controller="AccountSidebarCtrl"></div>
        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->