<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading" ng-bind="AccountSvc.title">
                    </h1>
                    <div class="content">
                        <form name="accountForm">
                            <div class="form-group has-feedback" show-errors>
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email"
                                       ng-model="AccountSvc.item.email" required>
                                        <span ng-show="accountForm.$submitted || accountForm.email.$touched"
                                              class="form-control-feedback"
                                              ng-class="!accountForm.email.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                              aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback" show-errors>
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password"
                                       ng-model="AccountSvc.item.password" required>
                                        <span ng-show="accountForm.$submitted || accountForm.password.$touched"
                                              class="form-control-feedback"
                                              ng-class="!accountForm.password.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                              aria-hidden="true"></span>
                            </div>
                            <button ng-click="AccountSvc.doReg(AccountSvc.item)" class="btn btn-cta-secondary"
                                    ng-disabled="!accountForm.$valid" id="accountReg">Create
                            </button>
                        </form>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="list additionally aside section">
                <div class="section-inner">
                    <h2 class="heading">Additionally</h2>
                    <div class="content">
                        <div ng-include="'views/account/menu.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Search</h2>
                    <div class="content">
                        <div ng-include="'views/search.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="list tags aside section">
                <div class="section-inner">
                    <h2 class="heading">Tags</h2>
                    <div class="content">
                        <div ng-include="'views/home/list-tags.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->