<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading">
                        Reset password
                    </h1>
                    <div class="content">
                        <p>Please enter code from email and new password for you account</p>
                        <form ng-submit="AccountSvc.doResetpassword(code, password)" name="accountForm"
                              ng-init="code=$routeParams.code">
                            <div class="form-group has-feedback" show-errors>
                                <label for="code">Code:</label>
                                <input type="text" class="form-control" name="code" id="code"
                                       placeholder="code from email"
                                       ng-model="code" required>
                                <span ng-show="accountForm.$submitted || accountForm.code.$touched"
                                      class="form-control-feedback"
                                      ng-class="!accountForm.code.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                      aria-hidden="true"></span>
                            </div>
                            <div class="form-group has-feedback" show-errors>
                                <label for="password">New password:</label>
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="new password"
                                       ng-model="password" required>
                                <span ng-show="accountForm.$submitted || accountForm.password.$touched"
                                      class="form-control-feedback"
                                      ng-class="!accountForm.password.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                      aria-hidden="true"></span>
                            </div>
                            <button type="submit" class="btn btn btn-cta-secondary" ng-disabled="!accountForm.$valid"
                                    id="accountResetpassword">Save password and login
                                on site
                            </button>
                        </form>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="list description aside section">
                <div class="section-inner">
                    <h2 class="heading">Additionally</h2>
                    <div class="content">
                        <div ng-include="'views/account/additionally.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Search</h2>
                    <div class="content">
                        <div ng-include="'views/search.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="list tags aside section">
                <div class="section-inner">
                    <h2 class="heading">Tags</h2>
                    <div class="content">
                        <div ng-include="'views/home/list-tags.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->