<ul class="list-unstyled">
    <li ng-if="$routeParams.subNavId!='meta_tag'">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppSvc.currentLangUrlPrefix+'/manager/meta_tag'}}"
           ng-bind="AppConst.manager.meta_tag.title | translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='tag'">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppSvc.currentLangUrlPrefix+'/manager/tag'}}"
           ng-bind="AppConst.manager.tag.title | translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='public_link'">
        <i class="fa fa-link"></i>
        <a ng-href="/manager/public_link"
           ng-bind="AppConst.manager.public_link.title | translate"></a></li>
    <li ng-if="$routeParams.subNavId!='properties'">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppSvc.currentLangUrlPrefix+'/manager/properties'}}"
           ng-bind="AppConst.manager.properties.title | translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='users'">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppSvc.currentLangUrlPrefix+'/manager/users'}}"
           ng-bind="AppConst.manager.users.title | translate"></a>
    </li>
    <li ng-if="$routeParams.subNavId!='html_cache'">
        <i class="fa fa-link"></i>
        <a ng-href="{{AppSvc.currentLangUrlPrefix+'/manager/html_cache'}}"
           ng-bind="AppConst.manager.html_cache.title | translate"></a>
    </li>
</ul>