<ul class="list-unstyled">
    <li ng-if="$routeParams.subNavId!='meta_tag'"><i class="fa fa-link"></i> <a ng-href="/manager/meta_tag">Meta tags</a></li>
    <li ng-if="$routeParams.subNavId!='public_link'"><i class="fa fa-link"></i> <a ng-href="/manager/public_link">Public links</a></li>
    <li ng-if="$routeParams.subNavId!='properties'"><i class="fa fa-link"></i> <a ng-href="/manager/properties">Properties</a></li>
    <li ng-if="$routeParams.subNavId!='users'"><i class="fa fa-link"></i> <a ng-href="/manager/users">Users</a></li>
</ul>