<div class="form-group">
    <label for="PublicLinkSrc" translate>Src</label>
    <input class="form-control" type="text" id="PublicLinkSrc" ng-model="PublicLinkSvc.item.src"/>
</div>
<div class="form-group">
    <label for="PublicLinkTitle" translate>Title</label>
    <input type="text" class="form-control" id="PublicLinkTitle"
           ng-model="PublicLinkSvc.item.title"/>
</div>
<div class="form-group">
    <label for="PublicLinkDescription" translate>Description</label>
    <textarea class="form-control" id="PublicLinkDescription"
              ng-model="PublicLinkSvc.item.description"></textarea>
</div>
<div class="form-group">
    <label for="PublicLinkIcon" translate>Icon</label>
    <div class="input-group">
        <input type="text" class="form-control" id="PublicLinkIcon"
               ng-model="PublicLinkSvc.item.icon"/>
        <span class="input-group-btn">
            <button ng-click="IconsSvc.showList(PublicLinkSvc.item.icon)"
                    class="btn btn-cta-secondary" type="button" id="publicLinkSelectIcon">
                <i class="{{(PublicLinkSvc.item.icon=='')?'fa':PublicLinkSvc.item.icon}}"></i>
            </button>
        </span>
    </div>
</div>
<div class="form-group">
    <label for="PublicLinkPosition" translate>Position</label>
    <input class="form-control" type="text" id="PublicLinkPosition" ng-model="PublicLinkSvc.item.position"/>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="PublicLinkSvc.item.in_header" ng-true-value="1" ng-false-value="0"> <translate>In header</translate>
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="PublicLinkSvc.item.in_contact" ng-true-value="1" ng-false-value="0"> <translate>In contact</translate>
    </label>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="PublicLinkSvc.item.in_footer" ng-true-value="1" ng-false-value="0"> <translate>In footer</translate>
    </label>
</div>