<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Icon</th>
        <th>Title</th>
        <th>In header</th>
        <th>In contact</th>
        <th>In footer</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in PublicLinkSvc.list | orderBy:'position'"
        ng-class="(PublicLinkSvc.item.id==item.id)?'bold':''">
        <td ng-bind-html="item.id" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td ng-click="PublicLinkSvc.selectItem(item)">
            <i class="{{(item.icon=='')?'fa':item.icon}}"></i>
        </td>
        <td ng-bind-html="item.title | unsafe" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td ng-bind-html="(item.in_header==1)?'Yes':'No' | unsafe" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td ng-bind-html="(item.in_contact)?'Yes':'No' | unsafe" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td ng-bind-html="(item.in_footer)?'Yes':'No' | unsafe" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td class="text-right">
            <button ng-click="PublicLinkSvc.showUpdate(item)" class="btn btn-cta-default btn-xs" type="button"
                    id="{{'public_link'+item.id+'Update'}}"><i class="fa fa-pencil-square-o"></i> Edit
            </button>
            <button ng-click="PublicLinkSvc.doDelete(item)" class="btn btn-cta-red btn-xs" type="button"
                    id="{{'public_link'+item.id+'Delete'}}"><i class="fa fa-trash"></i> Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>