<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Content</th>
        <th>Attributes</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in PublicLinkSvc.list"
        ng-class="(PublicLinkSvc.item.id==item.id)?'bold':''">
        <td ng-bind-html="item.id" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td ng-bind-html="item.name | unsafe" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td ng-bind-html="item.content | unsafe" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td ng-bind-html="item.attributes | unsafe" ng-click="PublicLinkSvc.selectItem(item)"></td>
        <td class="text-right">
            <button ng-click="PublicLinkSvc.showUpdate(item)" class="btn btn-cta-default btn-xs" type="button"
                    id="{{'public_link'+item.id+'Update'}}"><i class="fa fa-pencil-square-o"></i> Edit
            </button>
            <button ng-click="PublicLinkSvc.doDelete(item)" class="btn btn-cta-red btn-xs" type="button"
                    id="{{'public_link'+item.id+'Delete'}}"><i class="fa fa-trash"></i> Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>