<div class="form-group has-feedback" show-errors>
    <label for="email" translate>Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="{{ 'enter you email' |  translate}}"
           ng-model="AccountSvc.item.email" required>
                            <span ng-show="accountForm.$submitted || accountForm.email.$touched"
                                  class="form-control-feedback"
                                  ng-class="!accountForm.email.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                  aria-hidden="true"></span>
</div>