<!-- ******HEADER****** -->
<header class="header" ng-controller="NavbarCtrl">
    <div class="container">
        <img class="profile-image cursor-pointer img-responsive img-circle pull-left"
             ng-src="{{AppSvc.properties.SITE_LOGO}}"
             alt="{{AppSvc.properties.SITE_TITLE}}" ng-if="AppSvc.properties.SITE_LOGO"
             ng-click="NavbarSvc.goHome()"/>
        <div class="profile-content pull-left">
            <h1 class="name cursor-pointer" ng-bind-html="AppSvc.properties.SITE_TITLE | unsafe"
                ng-click="NavbarSvc.goHome()"></h1>
            <h2 class="desc cursor-pointer" ng-bind-html="AppSvc.properties.SITE_DESCRIPTION | unsafe"
                ng-click="NavbarSvc.goHome()"></h2>
            <ul class="social list-inline" ng-if="PublicLinkSvc.list.length>0">
                <li ng-class="$last ? 'last-item' : ''"
                    ng-repeat="item in PublicLinkSvc.list | orderBy:'position'" ng-if="item.in_header">
                    <a ng-href="{{item.src}}" target="_blank"><i class="" ng-class="item.icon"></i></a>
                </li>
            </ul>
        </div><!--//profile-->
        <div ng-repeat="item in NavbarSvc.items.right | orderBy:'$index':true" ng-if="!item.hiddenHandler()">
            <a class="btn btn-cta-primary pull-right"
               ng-click="item.click()"
               ng-bind-html="(AppConst[item.name].strings.title || AppConst[item.parent][item.name].title) | unsafe"
               ng-if="item.click" id="{{item.name+'Nav'}}"
               ng-class="item.name==$routeParams.navId ? 'active' : ''"></a>
            <a class="btn btn-cta-primary pull-right"
               ng-href="/{{AppConst[item.name].strings.url || AppConst[item.parent][item.name].url || item.name}}"
               ng-bind-html="(AppConst[item.name].strings.title || AppConst[item.parent][item.name].title) | unsafe"
               ng-if="!item.click" id="{{item.name+'Nav'}}"
               ng-class="item.name==$routeParams.navId ? 'active' : ''"></a>

        </div>

        <div ng-repeat="item in NavbarSvc.items.left | orderBy:'$index':true" ng-if="!item.hiddenHandler()">
            <a class="btn btn-cta-primary pull-right"
               ng-click="item.click()"
               ng-bind-html="(AppConst[item.name].strings.title || AppConst[item.parent][item.name].title) | unsafe"
               ng-if="item.click" id="{{item.name+'Nav'}}"
               ng-class="item.name==$routeParams.navId ? 'active' : ''"></a>
            <a class="btn btn-cta-primary pull-right"
               ng-href="/{{AppConst[item.name].strings.url || AppConst[item.parent][item.name].url || item.name}}"
               ng-bind-html="(AppConst[item.name].strings.title || AppConst[item.parent][item.name].title) | unsafe"
               ng-if="!item.click" id="{{item.name+'Nav'}}"
               ng-class="item.name==$routeParams.navId ? 'active' : ''"></a>

        </div>
    </div><!--//container-->
</header><!--//header-->