<!-- ******HEADER****** -->
<header class="header" ng-controller="NavbarCtrl">
    <div class="container">
        <img class="profile-image cursor-pointer img-responsive img-circle pull-left" ng-src="{{PropertiesSvc.listOfNames.SITE_LOGO.value}}"
             alt="{{PropertiesSvc.listOfNames.SITE_TITLE.value}}" ng-if="PropertiesSvc.listOfNames.SITE_LOGO.value" ng-click="NavbarSvc.goHome()"/>
        <div class="profile-content pull-left">
            <h1 class="name cursor-pointer" ng-bind-html="PropertiesSvc.listOfNames.SITE_TITLE.value | unsafe" ng-click="NavbarSvc.goHome()"></h1>
            <h2 class="desc cursor-pointer" ng-bind-html="PropertiesSvc.listOfNames.SITE_DESCRIPTION.value | unsafe" ng-click="NavbarSvc.goHome()"></h2>
            <ul class="social list-inline" ng-if="PublicLinkSvc.list.length>0">
                <li ng-class="$last ? 'last-item' : ''"
                    ng-repeat="item in PublicLinkSvc.list | orderBy:'position'" ng-if="item.in_header">
                    <a ng-href="{{item.src}}" target="_blank"><i class="" ng-class="item.icon"></i></a>
                </li>
            </ul>
        </div><!--//profile-->
        <div ng-repeat="item in NavbarSvc.items.right | orderBy:'$index':true" ng-if="!item.hidden">
            <a class="btn btn-cta-primary pull-right"
               ng-click="item.click()"
               ng-bind-html="item.title | unsafe" ng-if="!item.url" id="{{item.name+'Nav'}}"
               ng-class="item.active==true ? 'active' : ''"></a>
            <a class="btn btn-cta-primary pull-right"
               ng-click="item.click()"
               ng-href="{{item.url}}" ng-bind-html="item.title | unsafe" ng-if="item.url" id="{{item.name+'Nav'}}"
               ng-class="item.active==true ? 'active' : ''"></a>

        </div>

        <div ng-repeat="item in NavbarSvc.items.left | orderBy:'$index':true" ng-if="!item.hidden">
            <a class="btn btn-cta-primary pull-right"
               ng-click="item.click()"
               ng-bind-html="item.title | unsafe" ng-if="!item.url" id="{{item.name+'Nav'}}"
               ng-class="item.active==true ? 'active' : ''"></a>
            <a class="btn btn-cta-primary pull-right"
               ng-click="item.click()"
               ng-href="{{item.url}}" ng-bind-html="item.title | unsafe" ng-if="item.url" id="{{item.name+'Nav'}}"
               ng-class="item.active==true ? 'active' : ''"></a>

        </div>
    </div><!--//container-->
</header><!--//header-->