<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1>Error</h1>
                    <div class="content">
                        Not access!
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <div ng-include="'views/home/sidebar.html'" ng-controller="SidebarCtrl"></div>
        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->