<div class="form-search search-only" ng-controller="NavbarCtrl" ng-if="!NavbarSvc.items.search.hidden">
    <div class="input-group">
        <input type="text" class="form-control search-query"
               placeholder="{{NavbarSvc.items.search.placeholder | translate }}" ng-model="SearchSvc.searchText"
               ng-enter="SearchSvc.doSearch(SearchSvc.searchText)"/>
                                    <span class="input-group-btn">
                                        <button ng-click="SearchSvc.doSearch(SearchSvc.searchText)"
                                                class="btn btn-cta-secondary" type="button" id="searchNav" translate>
                                            Search
                                        </button>
                                    </span>
    </div>
</div>