<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading">
                        Search result for text "<span ng-bind-html="SearchSvc.searchText | unsafe"></span>"
                    </h1>
                </div><!--//section-inner-->
            </section><!--//section-->

            <div ng-repeat="allItem in SearchSvc.allList">
                <section class="latest section" ng-if="allItem.name=='project'">
                    <div class="section-inner">
                        <h2 class="heading" ng-include="'views/project/list-header.html'">
                        </h2>
                        <div class="content">
                            <div ng-include="'views/tag/list-projects.html'"></div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->

            </div>

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Search</h2>
                    <div class="content">
                        <div ng-include="'views/search.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="list tags aside section">
                <div class="section-inner">
                    <h2 class="heading">Tags</h2>
                    <div class="content">
                        <div ng-include="'views/home/list-tags.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->