<div class="form-group has-feedback" show-errors>
    <label for="email">Email:</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="email"
           ng-model="AccountSvc.item.email" required>
                                <span ng-show="accountForm.$submitted || accountForm.email.$touched"
                                      class="form-control-feedback"
                                      ng-class="!accountForm.email.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                      aria-hidden="true"></span>
</div>
<div class="form-group has-feedback" show-errors>
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" id="password"
           placeholder="password"
           ng-model="AccountSvc.item.password" required>
                                <span ng-show="accountForm.$submitted || accountForm.password.$touched"
                                      class="form-control-feedback"
                                      ng-class="!accountForm.password.$valid ? 'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                      aria-hidden="true"></span>
</div>