<div class="form-group">
    <label for="MetaTagName">Name</label>
    <input class="form-control" type="text" id="MetaTagName" ng-model="MetaTagSvc.item.name"/>
</div>
<div class="form-group">
    <label for="MetaTagContent">Content</label>
    <input type="text" class="form-control" id="MetaTagContent"
           ng-model="MetaTagSvc.item.content"/>
</div>
<div class="form-group">
    <label for="MetaTagAttributes">Attributes</label>
    <input type="text" class="form-control" id="MetaTagAttributes"
           ng-model="MetaTagSvc.item.attributes"/>
</div>