<table class="table table-hover">
    <thead>
    <tr>
        <th translate>#</th>
        <th translate>Name</th>
        <th translate>Content</th>
        <th class="text-right" style="width:200px" translate>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in MetaTagSvc.list | orderBy:'position'"
        ng-class="(MetaTagSvc.item.id==item.id)?'bold':''">
        <td ng-bind="item.id" ng-click="MetaTagSvc.selectItem(item)"></td>
        <td ng-bind="item.name" ng-click="MetaTagSvc.selectItem(item)"></td>
        <td class="break-word" ng-bind="item.content" ng-click="MetaTagSvc.selectItem(item)"></td>
        <td class="text-right">
            <button ng-click="MetaTagSvc.showUpdate(item)" class="btn btn-cta-default btn-xs" type="button"
                    id="{{'meta_tag'+item.id+'Update'}}"><i class="fa fa-pencil-square-o"></i> <translate>Edit</translate>
            </button>
            <button ng-click="MetaTagSvc.doDelete(item)" class="btn btn-cta-red btn-xs" type="button"
                    id="{{'meta_tag'+item.id+'Delete'}}"><i class="fa fa-trash"></i> <translate>Delete</translate>
            </button>
        </td>
    </tr>
    </tbody>
</table>