<div class="container sections-wrapper">
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            <section class="latest section">
                <div class="section-inner">
                    <h1 class="heading" ng-bind-html="TagSvc.description | unsafe">
                    </h1>
                    <div class="content" ng-if="TagSvc.allListSumSize==0">
                        No results found...
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <div ng-repeat="allItem in TagSvc.allList" ng-if="TagSvc.allListSumSize>0">
                <section class="latest section" ng-if="allItem.name=='project'" ng-if="allItem.list.length>0">
                    <div class="section-inner">
                        <h2 class="heading" ng-include="'views/project/list-header.html'">
                        </h2>
                        <div class="content">
                            <div ng-include="'views/tag/list-projects.html'"></div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
                <section class="latest section" ng-if="allItem.name=='post'" ng-if="allItem.list.length>0">
                    <div class="section-inner">
                        <h2 class="heading" ng-include="'views/post/list-header.html'">
                        </h2>
                        <div class="content">
                            <div ng-include="'views/tag/list-posts.html'"></div>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </section><!--//section-->
            </div>

        </div><!--//primary-->
        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <aside class="info aside section">
                <div class="section-inner">
                    <h2 class="heading sr-only">Search</h2>
                    <div class="content">
                        <div ng-include="'views/search.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="list tags aside section">
                <div class="section-inner">
                    <h2 class="heading">Tags</h2>
                    <div class="content">
                        <div ng-include="'views/home/list-tags.html'"></div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
</div><!--//masonry-->