<aside class="info aside section">
    <div class="section-inner">
        <h2 class="heading sr-only">Search</h2>
        <div class="content">
            <div ng-include="'views/search.html'"></div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//aside-->

<aside class="list tags aside section">
    <div class="section-inner">
        <h2 class="heading">Tags</h2>
        <div class="content">
            <div ng-include="'views/home/list-tags.html'"></div>
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->